<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CdFormat" value="-CD%C" />
    <add key="FileFormat" value="%M%C(%Y)" />
    <add key="FolderFormat" value ="%M(%Y)"/>
    <add key="SubtitleFormats" value="srt,sub,smi,txt"/>
    <add key="MovieFormat" value="avi,mkv,mp4,m4v"/>
  </appSettings>
</configuration>